doctype html
html(lang="en")
    head
        title Continental
        link(rel="stylesheet" href="font/fonts.css")
        link(rel="stylesheet" href="css/app.css")
        meta(charset="UTF-8")
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
        script(src="https://api-maps.yandex.ru/2.1-dev/?lang=ru_RU" type="text/javascript")
    body
        .page-wrapper
            header
                .logo
                    a(href="#main")
                        img(src="img/logo.png")
                ul#menu
                    li: a(href="#main")= 'Главная'
                    li: a(href="#service_centers")= 'Сервисные центры'
                    li: a(href="rules.html")= 'Правила'
                    li: a(href="#contacts")= 'Контакты'
            #main.parallax.screen.screen-1.promo
                img(src="img/road_sign.png").sign.parallax-element(
                    data-anchor-target="#main"
                    data-top="bottom:-15%;"
                    data-top-bottom="bottom:-115%"
                )
                img(src="img/men_and_tire.png").tireman.parallax-element(
                    data-anchor-target="#main"
                    data-top="bottom:0%;"
                    data-top-bottom="bottom:-100%"
                )
                img(src="img/arrow.png").arrow.parallax-element(
                    data-anchor-target="#main"
                    data-top="bottom: 2%;"
                    data-top-bottom="bottom: -98%"
                )
                div.where-to-buy.parallax-element.desktop-only(
                    data-anchor-target="#main"
                    data-top="top: 20%;"
                    data-top-bottom="top: 120%"
                )
                    include view/where_to_buy
            #slogan.parallax.screen.screen-2.slogan.mobile-only
                include view/where_to_buy
            #service_centers.parallax.screen.screen-3.map-selector
                .row-wrapper
                    .cell-wrapper
                        #moscow.white-line
                            .city-selector
                                ul.city
                                    li МОСКВА
                                    li САНКТ-ПЕТЕРБУРГ
                                    li КАЗАНЬ
                            .service-logo
                                img(src="img/autoexpert.png")
                            .service-list
                                H1 Автоэксперт
                                H2.city-name Москва
                                a(href="http://www.autoexpert.ru" target="_blank") www.autoexpert.ru
                                a(href="http://www.shinaexpert.ru" target="_blank") www.shinaexpert.ru
                                ul.service-list
                                    li Дорожный пр-д, д.1, к.2
                                        span.orange.phone  +7 (495) 648-60-28
                                    li Олсуфьевский пер., д.7, с.2
                                        span.orange.phone  +7 (495) 648-60-28
                                    li Ул. Краснодарская, д.72, к.1
                                        span.orange.phone  +7 (495) 648-60-28
                                    li Ул. Куликовская, вл.10, стр.1
                                        span.orange.phone  +7 (495) 648-60-28
                                    li Ул. Березовая алеея, 2а
                                        span.orange.phone  +7 (495) 648-60-28
                        #piter.white-line
                            .city-selector
                                ul.city
                                    li МОСКВА
                                    li САНКТ-ПЕТЕРБУРГ
                                    li КАЗАНЬ
                            .service-logo
                                img(src="img/exclusive.png")
                            .service-list
                                H1 Эксклюзив
                                H2.city-name Санкт-Петербург
                                a(href="www.tyres.spb.ru" target="_blank") www.tyres.spb.ru
                                ul.service-list
                                    li Пр-т Большевиков, д. 42
                                        span.orange.phone  +7 (812) 441 21 28
                                    li Сердобольская ул., д. 3
                                        span.orange.phone  +7 (812) 492 02 13
                                    li Ул. Оптиков, д. 15
                                        span.orange.phone  +7 (812) 320 18 85
                        #kazan.white-line
                            .city-selector
                                ul.city
                                    li МОСКВА
                                    li САНКТ-ПЕТЕРБУРГ
                                    li КАЗАНЬ
                            .service-logo
                                img(src="img/vertire.png")
                            .service-list
                                H1 Вершина
                                H2.city-name Казань
                                a(href="www.vershina-kazan.ru" target="_blank") www.vershina-kazan.ru
                                ul.service-list
                                    li Горьковское ш., 47/1
                                        span.orange.phone  +7 (843) 290 10 40
                                    li Пр-т Ямашева, д.61
                                        span.orange.phone  +7 (843) 517 53 75
                                    li Пр-т Ямашева, д.92 Б
                                        span.orange.phone  +7 (843) 521-77-33
            #map.parallax.screen.screen-4
                #ymap(


                    data-top-bottom="top: 100%; bottom: -100%;"
                    data-bottom-top="top: -100%; bottom: 100%;"
                )
            footer.parallax.screen#contacts
                .phone-str Телефон горячей линии&nbsp;
                    span.orange.phone +7(985)750-02-50
                    | &nbsp;- работает с 10 до 19.
                .mail: a(href="mailto:mail@contipromo.ru") mail@contipromo.ru
                .copyright © Continental AG 2015
        script(src="js/app.js")